{% load static %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Mundo Deportivo<img src="{% static 'assets/img/navbar-logo.svg' %}" alt="..." /> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Anotarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Información</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Pasos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Equipo</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contáctenos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/app/show/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="/app/comentarios/">Comentarios</a></li>
                    </ul>
                {% if user.is_authenticated %}
                     <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="rounded-circle" style="height: 60px" src="{{ user.avatar.imagen.url }}" alt=""></a>
                             <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                 <li><div class="container">  {{ user.username }}</div></li>
                                 <li><a class="dropdown-item" href="/accounts/editar/">Edit User</a></li>
                                 <li><a class="dropdown-item" href="/accounts/avatar/">Edit Avatar</a></li>
                             </ul>
                         </li>
                     </ul>
                    <form action="{% url 'Logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </form>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'Registro' %}">Register</a>
                {% endif %}
                </div>
            </div>
        </nav>