{% extends 'base.html' %}
{% load static %}

{% block main %}
<nav class="navbar navbar-light bg-dark static-top" id="mainNav">
    <br>
</nav>
<br>
<br>
<br>
<br>
    <h1>Has cerrado la sesión.</h1>
    <div class="contenedor">
        <div class="want-to-publicy">
        <h3>En la barra de navegación puede seleccionar "Login" para iniciar Sesión, si no tienes una cuenta puedes seleccionar el botón "Register" para crear una cuenta</h3>
        <h4>Sinó, puedes volver al <a href="{% url 'home' %}">Inicio</a></h4>
        </div>
    </div>
{% endblock %}