{% extends 'base.html' %}

{% block main %}
<nav class="navbar navbar-light bg-dark static-top" id="mainNav">
    <br>
    <br>
</nav>
<br>
<br>
<br>
    <h2>Acerca de mi</h2>
    <p>Soy Emanuel actualmente estoy aprendiendo el lenguaje de programación de Python y el framework Django, esta página fue creada para poder ingresar personas las cuales quieran enseñar actividades y/o deportes al aire libre para cualquiera.
    Gracias por visitar mi página y no dejes de seguirme en mis redes sociales. Cualquier consulta puedes contactarme a <a href="mailto:lincicemanuel@gmail.com">dudas@mundodeportivo.com</a>.</p>

{% endblock %}