{% extends 'base.html' %}

{% block main %}
<nav class="navbar navbar-light bg-dark static-top" id="mainNav">
    <br>
    <br>
</nav>
<br>
<br>
<br>
    <h2>Acerca del proyecto</h2>
    <p>Esta página fue diseñada con el objetivo de hacer que cualquier persona pueda aprender cualquier deporte sin importar su situación económica.</p>
    <p>Hay muchas personas, que debido a su situación económica, no se animan a practicar/entrenar algún deporte porque piensas que podría ser un gasto que los afecte negativamente</p>
    <p>Por eso se creó esta página para que las personas que puedan y quieran ayudar, como profesores, a los que tienen miedo </p>
{% endblock %}